<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset_Style.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/exhibitions.css">

        <title>bachir</title>
    </head>
    <body class="exhibitions">

        <%- include('partials/header') %>


        <main>

            <section id="past-exhibitions">

            </section>

            <section id="new-exhibitions">

            </section>

        </main>


        <%- include('partials/footer') %>

    </body>
</html>