:root   {

    /* nav variables */
    --nav-height: 7rem;
    --artist-name-font-size: 5vh;
    --artist-font-size: 3.5vh;

    /* footer variables */

    --footer-height: 70vh;

    /* other variables */

    --width-indentation: 85%;
    --title-font-size: 6rem;
    --h1-font-size: 4rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2rem;
    --font-size: 1.2rem;

    --h1-padding: 3rem 0rem 2rem 0;
    --h2-padding: 2rem 0 1.5rem 0;
    --h3-padding: 2rem 0 1rem 0;
    --p-padding: 0.5rem 0 0.5rem 0;
    --button-padding: 1rem;

    --margin-title: 2rem 0;
    --margin-box: 5rem;
    --margin-out: 10rem;

    --sub-section-container-size: 20rem;
    --section-container-size: 30rem;
    --border-radius-section: 2rem;

    /* content width */
    --max-width: 1700px;

    /* main colors */
    --color-dark: 13, 13, 13;
    --color-bright: 240, 193, 70;
    
    --color-white-hover: 130, 130, 130;

    --body-color-dark: 13, 13, 13;
    --body-color-bright: 255, 255, 255;

    --button-background-color: 0, 0, 0;
    --button-border-color: 240, 193, 70;
    --button-text-color: 240, 193, 70;
    --button-background-color-hover: 240, 193, 70;
    --button-border-color-hover: 0, 0, 0;
    --button-text-color-hover: 0, 0, 0;
    --button-background-color-active: 240, 193, 70, 0.8;
    --button-text-color-active: 0, 0, 0, 0.8;
    --button-border-color-active: 0, 0, 0, 0.8;

    --button-text-color-invert: 0, 0, 0;
    --button-background-color-invert: 240, 193, 70;
    --button-border-color-invert: 0, 0, 0;
    --button-background-color-hover-invert: 0, 0, 0;
    --button-border-color-hover-invert: 240, 193, 70;
    --button-text-color-hover-invert: 240, 193, 70;
    --button-background-color-active-invert: 0, 0, 0, 0.8;
    --button-text-color-active-invert: 240, 193, 70, 0.8;
    --button-border-color-active-invert: 240, 193, 70, 0.8;
}


