<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/Bachir_project/Style/style.css">
        <link rel="stylesheet" href="/Bachir_project/Style/reset_Style.css">
        <link rel="stylesheet" href="/Bachir_project/Style/header.css">
        <link rel="stylesheet" href="/Bachir_project/Style/bottom_section.css">
        <link rel="stylesheet" href="/Bachir_project/Style/variables.css">

    </head>

    <%- include('partials/header') %>
    <%- include('partials/footer')

    
    </body>
</html>