<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/Style/style.css">
        <link rel="stylesheet" href="/Style/reset_Style.css">
        <link rel="stylesheet" href="/Style/header.css">
        <link rel="stylesheet" href="/Style/bottom_section.css">
        <link rel="stylesheet" href="/Style/gallery.css">
        <link rel="stylesheet" href="/Style/variables.css">

        <title>Gallery</title>
    </head>

    <body class="gallery-page">
        <div class="blur-effect"></div>
        <nav id="nav">
            <header class="nav-container">
                <div class="nav-logo-container">
                    <a id="nav-logo" href="/index/presentation.html">
                        <p class="bachir">BACHIR</p>
                        <p class="project">EL-BACHIR PROJECT</p>
                    </a>
                </div>
                
                <div class="menu-container">
                    <ul class="menu">
                        <li value="gallery" class="menu-selection">
                            <a class="to-source" data-target="gallery" href="/index/gallery.html">Gallery</a>
                        </li>
                        <li value="about" class="menu-selection">
                            <a class="to-source" data-target="about" href="/index/about.html">About</a>
                        </li>
                        <li value="exhibitions" class="menu-selection">
                            <a class="to-source" data-target="exhibitions" href="/index/exhibitions.html">Exhibitions</a>
                        </li>
                        <li value="contact" class="menu-selection">
                            <a class="to-source contact" data-target="contact" href="/index/contact.html">Contact</a>
                        </li>
                        <li value="store" class="menu-selection">
                            <a class="to-source store" data-target="store" href="/index/store.html">Store</a>
                         </li>
                    </ul>
                </div>
            </header>
        
            <section id="gallery" class="nav-section">
                <div class="selection-container">
                    <ul class="painting-list">
                        <li class="samba-alar gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Samba Alar</a>
                        </li>
                        <li class="jamonoy-nuit-blanche gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Jamonoy Nuit Blanche</a>
                        <li class="la-loi-du-plus-fort gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">La loi du plus fort</a>
                        </li>
                        <li class="lien-generationnel gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Lien générationnel</a>
                        </li>
                        <li class="le-petit-sidi gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Le petit Sidi</a>
                        </li>
                        <li class="les-louas-du-maitre gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Les louas du maître</a>
                        </li>
                        <li class="mor-talla-et-les-bouts-de-bois gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Mor Talla et les bouts de bois</a>
                        </li>
                        <li class="le-tape-a-loeil gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Le tape à l'oeil</a>
                        </li>
                    </ul>
                </div>
            </section>
        
            <section id="about" class="nav-section">
                <div class="selection-container">
                    <ul>
                        <li class="presentation about-selection">
                            <a class="nav-menu-link" href="/index/presentation.html">Présentation</a>
                        </li>
                        <li class="vision about-selection">
                            <a class="nav-menu-link" href="/index/vision.html">La vision</a> 
                        </li>
                        <li class="realisations about-selection">
                            <a class="nav-menu-link" href="/index/realisations.html">Réalisations</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="exhibitions" class="nav-section">
                <div class="selection-container">
                    <ul>
                        <li class="past exhibitions-selection">
                            <a class="nav-menu-link" href="">Précédentes expositions</a>
                        </li>
                        <li class="upcoming exhibitions-selection">
                            <a class="nav-menu-link" href="">Nouvelles expositions</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
        
        <main>

            <button class="skip-to-gallery-container">
                <a class="skip-to-gallery-button" href="#second-section">
                    <span class="skip-to-gallery">Gallery</span>
                    <span class="skip-to-gallery-tooltip">Sauter à la gallerie</span>
                </a>
            </button>

            <section id="first-section">
                <div class="gallery-header">
                    <div class="page-title-container">
                        <h1 class="page-title">Gallery</h1>
                    </div>

                    <div class="portfolio-description-container">
                        <div class="text-gallery-header-center-r1">
                            <h3 class="portfolio-description">dalal jàmm!</h3>
                            <h1 class="portfolio-description">Découvrez l'immensité du projet</h1>
                        </div>
                        
                        <div class="text-gallery-header-center-r2">
                            <h2 class="portfolio-description">Dans ce portfolio</h2>
                            <p class="portfolio-description">Chaque oeuvre est unique, un travail qui aligne le talent de l'artiste au monde sous-marin. La proposition d'un futur incertain, une vision sur la dégénérescence de l'humain, une préocupation que souligne son art.</p>
                            <h3 class="portfolio-description">Plonger</h2>
                            <p class="portfolio-description">Ces peintures forment ensemble le prolongement de sa pensée, elles coexistent et produisent ensemble le project d'El-Bachir.</p>
                            <p class="portfolio-description">Nos nageoires réaparaissent, notre souffle se coupe, notre corps trouve l'oxygène de l'eau.</p>
                        </div>
                    </div>

                </div>
            </section>

            <section id="second-section">
                <div class="portfolio">


                    <!--newest paintings no collection -->
                    <div class="series fifth-collection">
                        <div class="series-name-container">
                            <a class="series-name" href="/index/view_painting.html">Collection la plus récente</a>
                        </div>


                        <div class="portfolio-container">
                            <div class="painting-selection selection4">
                                <img class="painting-items les-dernieres-louas-du-maitre">
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Les dernières louas du maître</p>
                                </div>
                                <a class="discover-painting selection4">Découvrir</a>
                            </div>

                        </div>

                        <div class="portfolio-container">
                            <div class="painting-selection selection1">
                                <img class="painting-items">
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Les visiteurs</p>
                                </div>
                                <a class="discover-painting selection1">Découvrir</a>

                            </div>
                        </div>

                        <div class="portfolio-container">
                            <div class="painting-selection selection1">
                                <img class="painting-items">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Perdure</p>
                                </div>
                                
                                <a class="discover-painting selection1">Découvrir</a>

                            </div>
                        </div>
                    </div>


                    <!--collection family-->
                    <div class="series third-collection">
                        <div class="series-name-container">
                            <a class="series-name" href="/index/view_painting.html">Family collection</a>
                        </div>
      
                        <div class="portfolio-container">
                            <div class="painting-selection selection3">
                                <img class="painting-items lien-generationnel">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Lien générationnel</p>
                                </div>
                                
                                <a class="discover-painting selection3">Découvrir</a>

                            </div>
                        </div>

                        

                        <div class="portfolio-container">
                            <div class="painting-selection">
                                <img class="painting-items">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Photo de famille</p>
                                </div>
                                
                                <a class="discover-painting">Découvrir</a>

                            </div>
                        </div>

                        <div class="portfolio-container">
                            <div class="painting-selection ">
                                <img class="painting-items le-petit-sidi">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Le petit Sidi</p>
                                </div>
                                <a class="discover-painting">Découvrir</a>
                            </div>

                        </div>
                    </div>

                    <!--collection to be named-->
                    <div class="series fourth-collection">
                        <div class="series-name-container">
                            <a class="series-name" href="/index/view_painting.html">Hors série</a>
                        </div>
                            


                        <div class="portfolio-container">
                            <div class="painting-selection selection7">
                                <img class="painting-items jamonoy-nuit-blanche">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Jamonoy nuit blanche</p>
                                </div>
                                <a class="discover-painting selection7">Découvrir</a>

                            </div>
                        </div>


                        <div class="portfolio-container">
                            <div class="painting-selection selection4">
                                <img class="painting-items samba-alar">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Samba Alar</p>
                                </div>
                                <a class="discover-painting selection4">Découvrir</a>

                            </div>
                        </div>
                    </div>
                

                    <!--shark head collection-->
                    <div class="series second-collection">
                        <div class="series-name-container">
                            <a class="series-name" href="/index/view_painting.html">Mor talla collection</a>
                        </div>
                           

                        <div class="portfolio-container">
                            <div class="painting-selection selection1">
                                <img class="painting-items mor-talla-et-les-bouts-de-bois">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Mor Talla et les bouts de bois</p>
                                </div>
                                
                                <a class="discover-painting selection1">Découvrir</a>

                            </div>
                        </div>

                        <div class="portfolio-container">
                            <div class="painting-selection ">
                                <img class="painting-items le-tape-a-loeil">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Le tape à l'oeil</p>
                                </div>
                                <a class="discover-painting">Découvrir</a>

                            </div>
                        </div>

                        <div class="portfolio-container">
                            <div class="painting-selection">
                                <img class="painting-items la-loi-du-plus-fort">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">La loi du plus fort</p>
                                </div>
                                
                                <a class="discover-painting ">Découvrir</a>

                            </div>
                        </div>

                        <div class="portfolio-container">
                            <div class="painting-selection">
                                <img class="painting-items">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">For bi le ramassage</p>
                                </div>
                                <a class="discover-painting">Découvrir</a>

                            </div>
                        </div>
                    </div>


                    


                    

                    
                    <!--black collection-->
                    <div class="series first-collection">
                        <div class="series-name-container">
                            <a class="series-name" href="/index/view_painting.html">Black collection (Senegal)</a>
                        </div>

                        <div class="portfolio-container">
                            <div class="painting-selection selection1">
                                <img class="painting-items ">
                                
                            </div>
                            <div class="painting-name-container">
                                <div class="painting-description-section">
                                    <p class="painting-name">Le fauteuil</p>
                                </div>
                                <a class="discover-painting selection1">Découvrir</a>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>



        <footer>

            <a class="return-up-button" href="#nav-header" onclick="returnUp()">
                <svg class="up-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 14L12 8L18 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>                
                <span class="return-up-button-tooltip">Haut de page</span>
            </a>

            <div class="footer-container">

                <section class="contact-footer">
                    <div class="contact-footer-container">
                        <h1 class="contact-footer-header">Contacter l'Artiste</h1>
                        <div class="enter-email-container">
                            <input 
                            class="enter-email" 
                            id="senderEmail"
                            placeholder="Adresse courriel" 
                            type="email" 
                            required>
                        </div>
                    
                        <div class="enter-message-container">
                            <textarea 
                            class="enter-message" 
                            id="emailMessage"
                            maxlength="1500" 
                            placeholder="Message pour l'artiste" 
                            required></textarea>
                        </div>
                        
                        <div class="send-message-button-container">
                            <button class="send-message-button" id="sendEmailBtn" type="button">
                                <p class="send-message">Envoyer</p>
                            </button>
                        </div>

                    </div>
                </section>
              

                <section class="footer-link">
                    <div class="footer-link-indent">
                        <div class="footer-link-container">
                            <ul class="website-sections">
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/gallery.html">Gallery</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/about.html">About</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/exhibitions.html">Exhibitions</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/contact.html">Contact</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/store.html">Store</a></li>
                            </ul>
                            <div class="media">
                                <img class="facebook media-icon" src="/img/icons8-facebook.svg">
                                <img class="linkedin media-icon" src="/img/icons8-instagram.svg">
                                <img class="instagram media-icon" src="/img/icons8-linkedin.svg">
                                <img class="x media-icon" src="/img/icon_X.svg">
                            </div>  
                            <div class="credits">
                                <div class="copyrights">Copyright &#64;2025 BachirProject.com - All rights reserved.</div>
                            </div>  
                        </div>
                    </div>
                    
                </section>
                
            </div>
        </footer>

        <script src="/JS/index.js"></script>
    </body>
</html>