<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/reset_Style.css">
        <link rel="stylesheet" href="/style/header.css">
        <link rel="stylesheet" href="/style/bottom_section.css">
        <link rel="stylesheet" href="/style/presentation.css">
        <link rel="stylesheet" href="/style/variables.css">

        <title>El-Bachir-présentation</title>
    </head>
    <body class="presentation-page">
        <div class="blur-effect"></div>
        <nav id="nav">
            <header class="nav-container">
                <div class="nav-logo-container">
                    <a id="nav-logo" href="/index/presentation.html">
                        <p class="bachir">BACHIR</p>
                        <p class="project">EL-BACHIR PROJECT</p>
                    </a>
                </div>
                
                <div class="menu-container">
                    <ul class="menu">
                        <li value="gallery" class="menu-selection">
                            <a class="to-source" data-target="gallery" href="/index/gallery.html">Gallery</a>
                        </li>
                        <li value="about" class="menu-selection">
                            <a class="to-source" data-target="about" href="/index/about.html">About</a>
                        </li>
                        <li value="exhibitions" class="menu-selection">
                            <a class="to-source" data-target="exhibitions" href="/index/exhibitions.html">Exhibitions</a>
                        </li>
                        <li value="contact" class="menu-selection">
                            <a class="to-source contact" data-target="contact" href="/index/contact.html">Contact</a>
                        </li>
                        <li value="store" class="menu-selection">
                            <a class="to-source store" data-target="store" href="/index/store.html">Store</a>
                         </li>
                    </ul>
                </div>
            </header>
        
            <section id="gallery" class="nav-section">
                <div class="selection-container">
                    <ul class="painting-list">
                        <li class="samba-alar gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Samba Alar</a>
                        </li>
                        <li class="jamonoy-nuit-blanche gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Jamonoy Nuit Blanche</a>
                        <li class="la-loi-du-plus-fort gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">La loi du plus fort</a>
                        </li>
                        <li class="lien-generationnel gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Lien générationnel</a>
                        </li>
                        <li class="le-petit-sidi gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Le petit Sidi</a>
                        </li>
                        <li class="les-louas-du-maitre gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Les louas du maître</a>
                        </li>
                        <li class="mor-talla-et-les-bouts-de-bois gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Mor Talla et les bouts de bois</a>
                        </li>
                        <li class="le-tape-a-loeil gallery-selection">
                            <a class="nav-menu-link painting-link" href="/index/index.html">Le tape à l'oeil</a>
                        </li>
                    </ul>
                </div>
            </section>
        
            <section id="about" class="nav-section">
                <div class="selection-container">
                    <ul>
                        <li class="presentation about-selection">
                            <a class="nav-menu-link" href="/index/presentation.html">Présentation</a>
                        </li>
                        <li class="vision about-selection">
                            <a class="nav-menu-link" href="/index/vision.html">La vision</a> 
                        </li>
                        <li class="realisations about-selection">
                            <a class="nav-menu-link" href="/index/realisations.html">Réalisations</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="exhibitions" class="nav-section">
                <div class="selection-container">
                    <ul>
                        <li class="past exhibitions-selection">
                            <a class="nav-menu-link" href="">Précédentes expositions</a>
                        </li>
                        <li class="upcoming exhibitions-selection">
                            <a class="nav-menu-link" href="">Nouvelles expositions</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>


        <main>
            <header class="main-header">
                <div class="painting-title-container">
                    <div class="title">
                        <span class="sub-title">Jokkoo ak art bi Bachir</span>
                        <span class="page-title">Bienvenue dans l'Univers d'El-Bachir</span>
                    </div>
                    <div class="presentation-img">
                        <div class="blur-presentation-img"></div>
                    </div>
                </div>
            </header>

            <section id="first-section">
                <div class="presentation-container">
                    <div class="welcome-message-container">
                        <h2 class="discover-artist">Découvrir l'artiste</h2>
                    </div>

                    <div class="presentation-intro-container">
                        <div class="slides-discover-artist-container">
                            <a class="slide exhibitions-slide" href="/index/exhibitions.html">
                                <span>Exhibitions</span>
                            </a>
                            <a class="slide gallery-slide" href="/index/gallery.html"> 
                                <span>Explorer les oeuvres</span>
                            </a>
                            <a class="slide about-slide" href="/index/about.html">
                                <span>A propos</span>
                            </a>  
                            <a class="slide donation-slide" href="/index/donation.html">
                                <span>Faire un don</span>
                            </a>
                            <a class="slide store-slide" href="/index/store.html">
                                <span>Boutique</span>
                            </a>                          
                        </div>
                    </div>
                </div>
            </section>

            <section class="second-section">
                <div class="second-section-container">
                    <div class="intro-description-container">
                        <div class="presentation-text-section">
                            <h3><span class="bold">Origines</span></h3>
                            <p class="presentation-text"><span class="bold">El Bachir</span> est un artiste Sénégalais qui au travers des années a entretenu un style et une technique unique, qui sont toujours plus <span class="bold">dévoués à sacraliser la place de l'art dans notre quotidien contemporain.</span></p> 
                        </div>
    
                        <div class="presentation-text-section">
                            <h3><span class="bold">Inspiration</span></h3>
                            <p class="presentation-text">Innovant en remettant en perspective la place de l'humain au sein de notre société, comment celui-ci évoluera dans les prochains siècles. Autrement dit, <span class="bold">remettre en doute les perspectives de notre avenir</span>, un rapport étroit entre évolution et régression.</p> 
                        </div>
                        <div class="presentation-text-section2">
                            <p class="presentation-text">À son arrivée à Montréal, il établit son atelier au centre Clark où il encre les traits de son style actuel. Une redéfinition personnelle et de son art.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="third-section">
                <div class="scroll-movie-container">
                    <div class="frame-viewer"></div>
                </div> 
            </section>

            <section class="fourth-section"> 
                <div class="fourth-section-container">
                    <div class="senegal-container">
                        <div class="senegal-text-section">
                            <p class="senegal">Sen</p>
                        </div>
                        <div class="senegal-text-section">
                            <p class="senegal">e</p>
                        </div>
                        <div class="senegal-text-section">
                            <p class="senegal">gal</p>
                        </div>

                        <div class="senegal-explanation left-curly-bracket">
                            <img class="curly-bracket" src="/img/curly_bracket.svg">
                            <p>votre</p>
                        </div>
                        <div class="senegal-explanation right-curly-bracket">
                            <img class="curly-bracket" src="/img/curly_bracket.svg">
                            <p>pirogue</p>
                        </div>

                        
                    </div>
                    <div class="senegal-text-explanation-container">
                        <p>En s”appuyant sur cette définition, j'ai utilisé Sunugal (notre pirogue) 
                        </p>
                        <p class="senegal-text-explanation">Bachir a créé une histoire d’un peuple qui avait une pirogue en commun avec lequelle il partait à la chasse tous les jours pour la pêche était fleurissante, c’était bien, jusqu’au jour où, par mauvaise conduite du capitaine décida de partager le butin en pleine mer
                            En se chamaillant le butin, en se disputant, le bateau a chaviré, on est entré dans le monde de d’El-Bachir
                        </p>
                    </div>
                </div>
            </section>
        </main>



        

        <footer>

            <a class="return-up-button" href="#nav-header" onclick="returnUp()">
                <svg class="up-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 14L12 8L18 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>                
                <span class="return-up-button-tooltip">Haut de page</span>
            </a>

            <div class="footer-container">

                <section class="contact-footer">
                    <div class="contact-footer-container">
                        <h1 class="contact-footer-header">Contacter l'Artiste</h1>
                        <div class="enter-email-container">
                            <input 
                            class="enter-email" 
                            id="senderEmail"
                            placeholder="Adresse courriel" 
                            type="email" 
                            required>
                        </div>
                    
                        <div class="enter-message-container">
                            <textarea 
                            class="enter-message" 
                            id="emailMessage"
                            maxlength="1500" 
                            placeholder="Message pour l'artiste" 
                            required></textarea>
                        </div>
                        
                        <div class="send-message-button-container">
                            <button class="send-message-button" id="sendEmailBtn" type="button">
                                <p class="send-message">Envoyer</p>
                            </button>
                        </div>

                    </div>
                </section>
              

                <section class="footer-link">
                    <div class="footer-link-indent">
                        <div class="footer-link-container">
                            <ul class="website-sections">
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/gallery.html">Gallery</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/about.html">About</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/exhibitions.html">Exhibitions</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/contact.html">Contact</a></li>
                                <li class="menu-selection-footer"><a class="menu-selection-footer-link" href="/index/store.html">Store</a></li>
                            </ul>
                            <div class="media">
                                <img class="facebook media-icon" src="/img/icons8-facebook.svg">
                                <img class="linkedin media-icon" src="/img/icons8-instagram.svg">
                                <img class="instagram media-icon" src="/img/icons8-linkedin.svg">
                                <img class="x media-icon" src="/img/icon_X.svg">
                            </div>  
                            <div class="credits">
                                <div class="copyrights">Copyright &#64;2025 BachirProject.com - All rights reserved.</div>
                            </div>  
                        </div>
                    </div>
                    
                </section>
                
            </div>
        </footer>
        <script src="/JS/index.js"></script>
    </body>
</html>