<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/Bachir_project/Style/style.css">
        <link rel="stylesheet" href="/Bachir_project/Style/reset_Style.css">
        <link rel="stylesheet" href="/Bachir_project/Style/header.css">
        <link rel="stylesheet" href="/Bachir_project/Style/bottom_section.css">
        <link rel="stylesheet" href="/Bachir_project/Style/variables.css">
    </head>

    <body>
        <nav>
            <header class="nav-header">
                <div class="top">
                    <div id="logo">
                        <p class="bachir">BACHIR</p>
                        <p class="project">EL-BACHIR PROJECT</p>
                    </div>
                </div>
            </header>
            <ul class="menu">
                <li class="gallery menu-selection">
                    <a class="to-source" href="/Bachir_project/index/gallery.html">Gallery</a>
                </li>
                <li class="about menu-selection">
                    <a class="to-source" href="/Bachir_project/index/about.html">About</a>
                </li>
                <li class="exhibitions menu-selection">
                    <a class="to-source" href="/Bachir_project/index/exhibitions.html">Exhibitions</a>
                </li>
                <li class="contact menu-selection">
                    <a class="to-source" href="/Bachir_project/index/contact.html">Contact</a>
                </li>
                <li class="store menu-selection">
                    <a class="to-source" href="/Bachir_project/index/store.html">Store</a>
                </li>
            </ul>
        </nav>
        
        <main>
            <section id="first-section-view-painting">
                <div class="painting-selected"></div>
            </section>
        </main>

        <footer>
            <div class="media">
                <img class="pinterest media-icon" src="/Bachir_project/img/icons8-pinterest.svg">
                <img class="facebook media-icon" src="/Bachir_project/img/icons8-facebook.svg">
                <img class="linkedin media-icon" src="/Bachir_project/img/icons8-instagram.svg">
                <img class="instagram media-icon" src="/Bachir_project/img/icons8-linkedin.svg">
                <img class="x media-icon" src="/Bachir_project/img/icon_X.svg">
            </div>    
            <div class="credits">
                <div class="copyrights">Copyright &#64;2025 BachirProject.com - All rights reserved.</div>
            </div>
        </footer>
    </body>
</html>